name: Deploy
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: ssh www-data@151.245.136.181 "cd /var/www/Laravel+React && git pull origin main && npm install && npm run build"